#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem; /* Réduit pour les mobiles */
  /* text-align: center; */ /* Supprimé */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #434343 !important; /* Couleur de texte plus douce (gris moyen) avec !important */
}

h1 {
  text-align: center; /* Aligné au centre */
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 20px; /* Marge supérieure explicite */
  margin-bottom: 20px; /* Marge inférieure explicite */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: left; /* Ajout global */
  margin-top: 30px; /* Marge supérieure explicite */
  margin-bottom: 15px; /* Marge inférieure explicite */
}

h3 {
  text-align: left; /* Ajout global */
  margin-top: 20px; /* Marge supérieure explicite */
  margin-bottom: 10px; /* Marge inférieure explicite */
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 10px; /* Marge supérieure explicite */
  margin-bottom: 10px; /* Marge inférieure explicite */
  text-align: left;
}

p.last-paragraph {
  margin-bottom: 32px;
}

.manual-container {
  max-width: 1200px; /* Largeur maximale pour le conteneur manuel */
  margin: 0 auto; /* Centrer le conteneur */
  position: relative;
}

.manual-content {
  max-width: 800px; /* Largeur maximale pour le contenu manuel */
  margin: 0 auto; /* Centrer le contenu */
}

p.bold {
  font-weight: bold;
}

.bold-text {
  font-weight: bold !important;
}

/* Media query pour les écrans mobiles */
@media (max-width: 768px) {
  .manual-container {
    /* padding-top: 70px; */ /* Ajuster l'espace pour le bouton hamburger et le logo sur mobile */
  }

  #root {
    padding: 8px;
  }
}

@media (max-width: 400px) {
  .manual-container {
    padding: 8px; /* Réduire le padding général */
    /* padding-top: 60px; */ /* Conserver un espace suffisant pour le haut */
  }

  .title-h1 {
    font-size: 24px; /* Réduire la taille du titre principal */
    margin-bottom: 20px;
  }

  h2 {
    font-size: 16px; /* Réduire la taille des sous-titres */
    margin-bottom: 15px;
  }

  h3 {
    font-size: 14px;
    margin-bottom: 5px; /* Diminution du padding autour de h3 */
  }

  p {
    font-size: 12px;
    margin-top: 15px;
  }

  p.last-paragraph {
    margin-bottom: 20px;
  }

  /* Ajuster la taille du logo si nécessaire pour les écrans très petits */
  .header-image {
    height: 30px; 
  }
}
